body{
    margin: 0 ;
    padding: 0;
    min-width: 350px;
    min-height: 500px;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    /* background-image: url(../img/cube.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */

}

.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.top-circle {
    top: -50px;
    left: 10%;
    transform: translateX(-50%);
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2));
}

.bottom-circle {
    bottom: -100px;
    left:100%;
    transform: translateX(-50%);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.container{
    width: 350px;
    height: 500px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
.container .content{
    color: whitesmoke;
    font-weight: 300;
    text-align: center;
    transition: 0.5%;
    
}

.greeting{
    font-size: 22px;
    font-family: Lato, sans-serif;
    text-shadow:
    -1px -1px 0 rgb(241, 139, 139),
     1px -1px 0 grey,
    -1px  1px 0 grey,
     1px  1px 0 grey;
}

/* .spinner {
width: 40px;
height: 40px;
border-radius: 50%;
border: 4px solid #ccc;
border-top-color: #333;
animation: spin 1s infinite linear;
margin: 20px auto;
}

@keyframes spin {
to { transform: rotate(360deg); }
} */


/* spinner copy right
 Copyright (c) 2023 by Bilal.Rizwaan (https://codepen.io/Bilal1909/pen/pobgJae) 
 */

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 5px;
    height:50px;
    margin: 5px;
    border-radius: 25px;
    animation: line 0.8s linear infinite;
    background: linear-gradient(45deg, #4cd8ff 0%, #000955 100%);
}
.line:nth-child(2) {
    animation-delay: 0.1s;
}
.line:nth-child(3) {
    animation-delay: 0.2s;
}
.line:nth-child(4) {
    animation-delay: 0.3s;
}
.line:nth-child(5) {
    animation-delay: 0.4s;
}
.line:nth-child(6) {
    animation-delay: 0.5s;
}
.line:nth-child(7) {
    animation-delay: 0.6s;
}
.line:nth-child(8) {
    animation-delay: 0.7s;
}

@keyframes line {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.text{
    max-width: 250px;
    justify-content: center;
    align-items: center;
}

.joke{
    font-weight: 300;
    font-size: 14px;
}

.text-box{
    max-width: 250px;
    font-size: 15px;
    list-style-type: none;
    border-top: 2px solid #a9c4e7;
}

.text-box li{
    max-width: 250px;
    color: #fff;
    border: #fff solid 1px;
    padding: 11px 0px;
    margin: 25px 0px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
.text-box li:hover{
    background: rgba(255, 255, 255, 0.3);
}